<div>

    <label>App title</label>
    <input type="text"
           name="app_meta_title"
           value="{{ app_meta_title }}"
           class="widefat" />

    <label>Developer (Twitter account)</label>
    <input type="text"
           name="app_meta_developer_twitter"
           value="{{ app_meta_developer_twitter }}"
           class="widefat" />

    <label>App ID (iOS)</label>
    <input type="text"
           id="input_appID_iOS"
           name="app_meta_appID_iOS"
           value="{{ app_meta_appID_iOS }}"
           class="widefat"
           oninput="appDetailsMeta.appID_iOS_changed(event)"/>

    <label>App Store name</label>
    <input type="text"
           id="app_meta_trackCensoredName"
           name="app_meta_trackCensoredName"
           value="{{ app_meta_trackCensoredName }}"
           class="widefat" />

    <label>App Store url</label>
    <input type="text"
           id="app_meta_trackViewUrl"
           name="app_meta_trackViewUrl"
           value="{{ app_meta_trackViewUrl }}"
           class="widefat" />

    <label>iTunes artwork</label>
    <input type="text"
           id="app_meta_artworkUrl512"
           name="app_meta_artworkUrl512"
           value="{{ app_meta_artworkUrl512 }}"
           class="widefat" />

    <label>Release date</label>
    <input type="text"
           id="app_meta_releaseDate"
           name="app_meta_releaseDate"
           value="{{ app_meta_releaseDate }}"
           class="widefat" />

</div>