<div>

    <label>Title</label>
    <input type="text"
           name="_app_details_title"
           value="{{ title }}"
           class="widefat" />

    <label>Developer (Twitter account)</label>
    <input type="text"
           name="_app_details_developer_twitter"
           value="{{ developer_twitter }}"
           class="widefat" />

    <label>App ID (iOS)</label>
    <input type="text"
           name="_app_details_appID_iOS"
           value="{{ appID_iOS }}"
           class="widefat" />

    <label>App ID (Android)</label>
    <input type="text"
           name="_app_details_appID_Android"
           value="{{ appID_Android }}"
           class="widefat" />

    <label>Net manhours to make (hours)</label>
    <input type="text"
           name="_app_details_netHours"
           value="{{ netHours }}"
           class="widefat" />

    <label>Gross project duration (months)</label>
    <input type="text"
           name="_app_details_grossHours"
           value="{{ netHours }}"
           class="widefat" />
</div>