<header class="entry-header">

    <h2 class="entry-title">
        <strong>{{ app_meta_title }}</strong>
        took net ~{{ app_meta_netHours }} workhours,
        gross {{ app_meta_grossHours }} months
        for {{ app_meta_teamSize }} devs to make.
    </h2>

    <div class="entry-meta">
        <a href="https://twitter.com/{{ app_meta_developer_twitter }}">{{ app_meta_developer_twitter }}</a>
    </div><!-- .entry-meta -->

</header><!-- .entry-header -->